.our-services {
    padding: 50px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }
  
  .our-services-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: inherit;
  }
  
  .services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #444;
    color: inherit;
  }
  
  .service-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: inherit;
  }
  
  .service-description {
    font-size: 16px;
    text-align: left;
    color: inherit;
  }

  @media screen and (max-width: 767px) {
    .our-services {
      padding: 30px;
    }
  
    .our-services-title {
      font-size: 28px;
    }
  
    .services-container {
      flex-direction: column;
      align-items: center;
    }
  
    .service-card {
      width: 90%;
      margin: 10px;
    }
  
    .service-title {
      font-size: 20px;
    }
  
    .service-description {
      font-size: 14px;
    }
  }